mat-card-header{
 display: flex;
 justify-content: center;
 align-items: center;
}
.title{
  font-family: persian;
  font-size: 2em;
  color: white; 
}
.login-card {
  max-width: 400px;
  backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.227);
  border-radius: 20px;
  border: 1px solid rgba(11, 11, 11, 0.181);
  padding: 2rem;
}

.login-header-image {
  background-image: url('/icons/shop.svg');
  background-size: 2.2em;
  background-repeat: no-repeat;
  background-position: center;
}

:host {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  /* گرادینت لطیف */
  background: linear-gradient(rgba(64, 64, 64, 0.35),
      rgba(67, 67, 67, 0.35)),
    url('/images/back.jpg');

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  backdrop-filter: blur(3px); // افکت بلور ظریف
}

mat-card-content {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

mat-card-actions {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.log-b{
  background-color: rgb(42, 45, 51);
  color: white !important ;
  padding: 0.5rem 1.7rem;
  border-radius: 12px;
  font-size: 1rem;
  transition: all .4s;
}
.log-b:hover{
  background-color: rgb(20, 20, 20);
}
/* استایل خودت */
.for-b.mat-mdc-button {
  color: white !important;
  font-size: 1rem;
  transition: all .4s;
}

/* هاور دلخواه */
.for-b.mat-mdc-button:hover {
  // transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.39) !important;
  // color: black !important;
}

/* حذف کامل هاور پیش‌فرض متریال */
::ng-deep .for-b .mdc-button__ripple,
::ng-deep .for-b .mat-mdc-button-persistent-ripple {
  background-color: transparent !important;
}

/* حذف رنگ hover لایه داخلی MDC */
::ng-deep .for-b .mdc-button__ripple::before,
::ng-deep .for-b .mdc-button__ripple::after {
  background-color: transparent !important;
}



// ::ng-deep .mat-mdc-form-field .mdc-text-field {
//   border-radius: 1.5em !important;
//   width: 20em; /* هر عددی خواستی بزن */
//   transition: all .5s;
// }
// ::ng-deep .mat-mdc-form-field .mdc-text-field:hover {
//   transform: scale(1.05);
// }