mat-form-field {
    padding: 1em;
    // width: 100%;
}

mat-dialog-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h2 {
    color: white;
    background-color: rgba(183, 183, 183, 0.518);
    text-align: center;
    display: flex;
    align-items: end;
    justify-content: center;
}

mat-dialog-actions {
    display: flex;
    align-items: center;
    justify-content: space-around;
}